.cocktail-reviews, .cocktail-ingredients {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 360px;
}


ul.ingredient-list {
  line-height: 100%;
  list-style: none;
  margin-left: 0px;
  min-width: 175px;

  a {
    padding: 0.5rem;
  }
}

.cocktail-below-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
}

.cocktail-below-image svg {
  font-size: 1.5rem;
}
.cocktail-below-image, .review-rating span {
  color: grey
}

.cocktail-image img {
  max-height: 300px;
  max-width: 300px;
}

.add-review-button {
  padding-right: 15px;
}

@media (min-width: 640px) {
  .cocktail-tile {
    max-height: 560px;
  }
  
}