@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.cocktail-rating {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  background-color: whitesmoke;
  border-radius:10px;
  border: 2px solid black;
  padding: 5px;
  margin-left: 10px;
  vertical-align: center;
}

.cocktail-rating h5 {
  color: goldenrod;
  font-size: 1.75rem;
}


.cocktail-reviews {
  max-height: 375px;
  overflow: hidden;
  overflow-y: scroll;
}

.venue-map-icon svg {
  font-size: 1.5rem;
  color: gold
}


@media (min-width: 640px) {
  .cocktail-tile {
    max-height: 500px;
  }
  
  .cocktail-image img {
    max-height: 375px;
  }
}
