@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import "./venues.scss";
@import "./addCocktail.scss";
@import "./cocktails.scss";
@import "./topBar.scss";


*, h1, h2, h3, h4, h5 ,h6
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

button {
  background-color: lightgray;
}
