
.top-bar {
  border-bottom: 4px black;
  border-bottom-style: double;
  margin-bottom: 1rem;
  padding: 0rem 0.5rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar  {
  color: black;
}

.top-bar .logo {
  height: 4rem;
  width: 4rem;
  border: 1.5pt black solid;
  border-radius: 50%;
  background-image: url("../images/coupe-cocktail-glass.jpeg");
  background-size: contain;
}