// .venue-info-window div {
//   position: "relative";
//   bottom: 150;
//   left: "-45px";
//   width: 220;
//   background-color: "white";
//   box-shadow: "0 2px 7px 1px rgba(0, 0, 0, 0.3)";
//   padding: 10;
//   font-size: 16;
//   z-Index: 100;
// }

.venue-map-icon svg {
  font-size: 1.5rem;
  color: goldenrod
}

.map-size {
  width: 100%;
  height: 400px;
}

.rating {
  display: inline-block;
  background-color: white;
  padding: 0px;
}

.rating .solid {
  color: goldenrod;
}

.cocktail-stats p {
  margin: 0px;
  padding: 0px;
  line-height: 120%;
}

.cocktail-container {
  font-size: 12px;
}

.cocktail-count svg {
  margin-left: 5px;
  font-size: 13px;
}

.cocktail-count {
  color: grey;
}

.venue-map-container {
  max-width: 600px;
}