// .venue-info-window div {
//   position: "relative";
//   bottom: 150;
//   left: "-45px";
//   width: 220;
//   background-color: "white";
//   box-shadow: "0 2px 7px 1px rgba(0, 0, 0, 0.3)";
//   padding: 10;
//   font-size: 16;
//   z-Index: 100;
// }

.venue-map-icon svg {
  font-size: 1.5rem;
  color: gold
}

.map-size {
  width: 100%;
  height: 400px;
}