.venue-map-icon svg {
  font-size: 1.5rem;
  color: goldenrod
}

.map-size {
  width: 100%;
}
.venue-map-container, .venue-list-container {
  min-width: 450px;
}

.venues-overflow {
  overflow: hidden;
  overflow-y: scroll;
}

.cocktail-search {
  margin-top: 0.75rem;
}

button.link-button {
  background-color: white;
  padding-left: 0.5rem;
  color: $primary-color;
}

button:hover.link-button {
  color: $secondary-color;
}

.venues-overflow, .map-size {
  height: 545px;
}

.rating {
  display: inline-block;
  background-color: white;
  padding: 0px;
}

.rating .solid {
  color: goldenrod;
}

.cocktail-stats p {
  margin: 0px;
  padding: 0px;
  line-height: 120%;
}

.cocktail-container {
  font-size: 12px;
}

.cocktail-count svg {
  margin-left: 5px;
  font-size: 13px;
}

.cocktail-count {
  color: grey;
}

.venues-list {
  max-width: 1450px;
}

.yelp-add-buttons {
  display: flex;
  align-items: center;

  .button {
    margin-left: 1.5rem;
  }
  select {
    min-width: 18rem;
  }
}


